/* css reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* world css */
.container{
    width: 80%;
    margin: auto;
}
li{
    list-style: none;
}
a{ 
    text-decoration: none;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* main-section */
main{
    height:100vh;
    position: relative;
    background-color: #030915;
    color: white;}
/* header-section */
.navbar ul {
    display: flex;
    gap: 1.2rem;
}
.navbar ul li a {
    color: white;
    font-size: 1.2rem;
}
.logo{
    padding: 15px;
    z-index: 1;
}
.humberger{
    display: none;
}
.humberger i{
    font-size: 2rem;
}
/* hero-section */
#hero-section{
    height: 80vh;
    background-color: #030915;
}
.hero-text{
    max-width: 37vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;

}
.hero-text{
    max-width:800px;
    position: relative;
    bottom: 20px;
}
.hero-row{
    position: relative;
}
.hero-text h1{
    position: relative;
    font-size: 4.50rem;
}
.hero-text p{
    position: relative;
    font-size: 1.5rem;
    color: #CACACA;
}
.hero-text button{
    max-width:220px; 
    width: 100%;
    height:70px;
    border-radius: 7px;
    border: 1px solid white;
    background-color:transparent ;
}
.hero-text button a{
    font-size: 20px;
    color: #F3F4F6;
}
.car-hero{
    position: relative;
    top: 170px;
    left: 10px;
    z-index: 1;
}
.car-hero img{
    max-width: 690px;  
    height: 450px;
}
/* shapes */
.cicles{
    position: relative;
}
.shape-1{
    position: absolute;
    width: 50%;
    right:0px ;
    bottom: 0px;  
}
.shape-2{
    position: absolute;
    width: 20%;  
    left: 0px;
    top: 0px;
}
.shape-3{
    position: absolute;
    width: 6%;
    left: 190px;
    bottom: 40px;
}
.shape-4{
    position: absolute;
    width: 3%;
    right:410px;
    top:110px;
}


@media (max-width:480px){
    .circle{
        display: none;
    }
    .hero-row{
        flex-direction: column;
    }
    html{
        font-size: 10px;
    }
    .container{
        width: 100%;
        padding: 1rem;
    }
    .navbar{
        display: none;
    }
    .car-hero{
        position: relative;
        left: 0;
        top: 40px;
    }
    .car-hero img{
        max-width: 350px;
        height: 200px; 
    }
    .humberger{
        display: block;
        cursor: pointer;
    }
    .hero-text{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-text{
        width: 100%;
    }
}